#about {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: var(--font-mont);
}

#aboutMeSection {
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    align-items: center;
    color: white;
}

#aboutMeSection img{
    border-radius: 10px;
    width: 400px;
    transition: background-color 200ms ease-out;
    height: auto;
    transition: 0.3s ease-out;
    box-shadow: 0px 0px 10px transparent;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 10px #29f75d;
}

#aboutMeSection img:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #f1f1f1;
}

#my-details{
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-details h1{
    margin: 2rem 30px;
    font-size: 42px;
}

#my-details p{
    text-align: justify;
    margin: 5px 30px;
    font-size: 18px;
    font-family: 'kanit', san-serif;
    font-weight: 200;
    transition: 0.3s ease-out;
}

#my-details p:hover {
    text-shadow: -0.01em 0.01em 0.05em #fff,  0.01em 0.01em 0.05em #fff;
}

.d3 {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
    transition: 0.3s ease-in-out;
    text-shadow: -0.1em 0.05em 0 #00cc33,  0.1em -0.05em 0 #24d24f;
}

.d3:hover {
    /* text-shadow: -0.1em -0.05em 0 #00cc33,  0.1em 0.05em 0 #24d24f; */
    text-shadow: 0.1em 0.01em 0 #00cc33,  0.1em 0.01em 0 #24d24f;
}


.d4 {
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-shadow: -0.05em 0.05em 0.2em #00cc33,  0.05em 0.05em 0.2em #24d24f;
    transition: 0.2s;
}

.d4:hover {
    text-shadow: -0.08em 0.08em 0.3em #00cc33,  0.08em 0.08em 0.3em #24d24f;
  }
