.EducationSection {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: relative;
    user-select: none;
    /* max-height: auto; */
}

.education-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: purple; */
}

.edx-margin {
    margin: 0px 0 0 0;
}


#EducationTitle {
    position: relative;
    width: 100%;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 7%;
    padding-bottom: 3%;
}

.howToSvgEdu {
    width: 300px;
    padding: 10px;
    color: gray;
    position: absolute;
    top: 42%;
    right: 40%;
    border-radius: 10px;
}

.howToSvgEdu h2 {
    text-align: center;
}

/* .svgPathEdu svg {
    width: 100%;
    height: auto;
    max-height: 780px;
}

.svgCarEdu {
    width: 150px;
    height: auto;
    position: absolute;
} */

/* .svgCarEdu svg {
    offset-path: path('M 350 125 C 900 150 1050 175 1070 250 C 950 400 350 300 370 470 C 350 600 800 570 1070 580 ');
    offset-distance: 0%;
} */

.carTrackContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 500px;
    max-height: auto;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carTrack {
    position: relative;
    width: 50%;
    height: auto;
    overflow: visible;
    /* background-color: yellow; */
}

.carEdu {
    background: white;
}



.carEdu {
    offset-path: path('M 39.095 98.106 C 211.336 98.106 418.025 98.106 418.025 178.276 C 418.025 258.446 39.095 218.36 39.095 298.531 C 39.095 378.701 349.129 378.701 452.474 378.701');
    offset-distance: 0%;
}

/* #svgCarEduHover,  */
#carEdu {
    animation: move 9s ease-in-out forwards;
}

@keyframes move {
    33% {
        offset-distance: 27%;
    }

    66% {
        offset-distance: 58%;
    }

    100% {
        offset-distance: 96%;
    }
}

.education{
    position: absolute;
    height: 150px;
    font-size: 14px;
    border: 2px solid black;
    background-color: whitesmoke;
    box-shadow: 2px 2px 25px cyan;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education hr, .clg hr {
    width: 80%;
}

.education h1 {
    margin: 10px;
}

.education-details {
    padding: 5px;
}

.education-details p {
    margin: 5px;
} 

.school10  {
    width: 300px;
    height: 170px;
    top: 150px;
    right: 100px;
    opacity: 0;
    /* animation: educard 4s ease-out forwards; */
}

.school12 {
    width: 300px;
    height: 170px;
    top: 350px;
    left: 50px;
    opacity: 0;
    /* animation: educard 8s ease-out forwards; */
}

.clg {
    width: 350px;
    height: 180px;
    top: 460px;
    right: 40px;
    opacity: 0;
    /* animation: educard 12s ease-out forwards; */
}

@keyframes educard {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

 .education-fadeInRight {
	 animation: education-fadeInRight 0.5s ease-out 0.5s both;
}
 @media (prefers-reduced-motion) {
	 .education-fadeInRight .education-fadeAnimated {
		 animation: unset !important;
		 transition: none !important;
	}
}
 .education-fadeInLeft {
	 animation: education-fadeInLeft 0.5s ease-out 0.5s both;
}
 @media (prefers-reduced-motion) {
	 .education-fadeInLeft .education-fadeAnimated {
		 animation: unset !important;
		 transition: none !important;
	}
}

 @keyframes education-fadeInRight {
	 from {
		 opacity: 0;
		 transform: translate3D(0, 10%, 0);
	}
	 to {
		 opacity: 1;
		 transform: translate3D(0, 0, 0);
	}
}

 @keyframes education-fadeInLeft {
	 from {
		 opacity: 0;
		 transform: translate3D(0, -10%, 0);
	}
	 to {
		 opacity: 1;
		 transform: translate3D(0, 0, 0);
	}
}
 