.EducationSection {
    width: 100%;
    height: 100vh;
    background: black;
    position: relative;
}

.EducationSection > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.education-container {
    position: relative;
    width: 100%;
}

#EducationTitle {
    padding-top: 80px;
    position: relative;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: -0.1em 0.01em 0.0em #24d24f,  0.01em 0.01em 0.0em #24d24f;
    transition: 0.3s ease-out;
    letter-spacing: 8px;
}

#EducationTitle:hover {
    text-shadow: -0.01em 0.01em 0.0em #24d24f,  0.1em 0.01em 0.0em #24d24f;
}

.howToSvgEdu {
    position: absolute;
    width: auto;
    top: 15%;
    right: 45%;
    color: gray;
    border-radius: 10px;
}

.carTrackContainer {
    /* margin-top: 40px; */
    width: 100%;
    min-height: 500px;
    height: auto;
    text-align: center;
}

.carTrack {
    width: 45%;
    min-height: 500px;
    height: auto;
    overflow: visible;
}

.carEdu {
    offset-path: path('M 39.095 98.106 C 211.336 98.106 418.025 98.106 418.025 178.276 C 418.025 258.446 39.095 218.36 39.095 298.531 C 39.095 378.701 349.129 378.701 452.474 378.701');
    offset-distance: 0%;
}

#carEdu {
    animation: move 9s ease-in-out forwards;
}

@keyframes move {
    33% {
        offset-distance: 27%;
    }

    66% {
        offset-distance: 58%;
    }

    100% {
        offset-distance: 96%;
    }
}

.education {
    position: absolute;
    font-size: 14px;
    background: linear-gradient(45deg, #24d24f55, #24df53aa);
    border: 1px solid #00cc33;
    color: rgb(241, 253, 234);
    border-radius: 10px;
}

.education hr, .clg hr {
    width: 100%;
}

.education h1 {
    margin: 10px;
}

.education-details {
    padding: 5px;
}

.education-details p {
    margin: 5px;
} 

.school10  {
    top: 2%;
    right: 8%;
    opacity: 0;
    /* animation: educard 4s ease-out forwards; */
}

.school12 {
    top: 20%;
    left: 6%;
    opacity: 0;
    /* animation: educard 8s ease-out forwards; */
}

.clg {
    top: 52%;
    right: 2%;
    opacity: 0;
    /* animation: educard 12s ease-out forwards; */
}

@keyframes educard {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

 .education-fadeInRight {
	 animation: education-fadeInRight 0.5s ease-out 0.5s both;
}
 @media (prefers-reduced-motion) {
	 .education-fadeInRight .education-fadeAnimated {
		 animation: unset !important;
		 transition: none !important;
	}
}
 .education-fadeInLeft {
	 animation: education-fadeInLeft 0.5s ease-out 0.5s both;
}
 @media (prefers-reduced-motion) {
	 .education-fadeInLeft .education-fadeAnimated {
		 animation: unset !important;
		 transition: none !important;
	}
}

 @keyframes education-fadeInRight {
	 from {
		 opacity: 0;
		 transform: translate3D(0, 10%, 0);
	}
	 to {
		 opacity: 1;
		 transform: translate3D(0, 0, 0);
	}
}

 @keyframes education-fadeInLeft {
	 from {
		 opacity: 0;
		 transform: translate3D(0, -10%, 0);
	}
	 to {
		 opacity: 1;
		 transform: translate3D(0, 0, 0);
	}
}
 

@media screen and (max-width: 900px) {
    
    #EducationTitle {
        font-size: 3rem;
    }

    .howToSvgEdu {
        text-align: center;
        top: 42%;
        right: 30px;
        font-size: 10px;
    }

    .education {
        font-size: 12px;
    }

    .education h1 {
        margin: 10px;
    }

    .education-details {
        padding: 5px;
    }

    .education-details p {
        margin: 5px;
    } 

    .school10  {
        top: -25px;
        right: 3%;
        opacity: 0;
        width: 250px;
        height: 160px;
    }

    .school12 {
        top: 37%;
        left: 3%;
        opacity: 0;
        width: 250px;
        height: 160px;
    }

    .clg {
        top: calc(100% - 140px);
        right: 2%;
        opacity: 0;
        width: 300px;
        height: 180px;
    }
}

@media screen and (max-width: 600px) {

    #EducationTitle {
        font-size: 2rem;
    }

    .howToSvgEdu {
        font-size: 8px;
    }

    .education {
        font-size: 10px;
        width: 200px;
    }

    .education h1 {
        margin: 10px;
    }

    .education-details {
        padding: 5px;
    }

    .education-details p {
        margin: 5px;
    } 

    .school10  {
        top: 0%;
        right: 4%;
        height: 140px;
    }

    .school12 {
        top: 37%;
        left: 4%;
        height: 140px;
    }

    .clg {
        top: calc(100% - 140px);
        right: 6%;
        height: 180px;
    }
}

@media screen and (max-width: 400px) {
    .howToSvgEdu {
        display: none;
    }
}