footer {
    width: 100%;
    height: 6vh;
    font-weight: 200;
    font-size: 12px;
    padding: 5px 0;
    color: #f1f1f144;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    footer {
        font-size: 10px;
    }
}