:root {
    --theme-color: #00cc33;
    --font-mont: 'Montserrat', sanserif;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

canvas {
    display: block;
} 

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* background-color: black; */
    background-color: white;
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    /* overflow-x: hidden; */
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 0px; */
    /* -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2); */
    background-color: #1ec046;
    border: 3px solid transparent;
    border-radius: 0px;
    background-clip: content-box;

    /* background-color: #D62929; */
}