#under-construction {
    display: none;
    position: fixed;
    z-index: 1;
    left: 10px;
    top: -120px;
    border-radius: 15px;
    opacity: 0;
    animation: maintenance 2s ease-out forwards;
}

.construction-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.construction-container a {
    font: 10px;
    visibility: hidden;
    color: black;
}

@keyframes maintenance {
    0% {
        opacity: 0;
        top: -120px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

.construction-container img {
    width: 80px;
    height: auto
}