#navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 20px;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.6);
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: auto;
}

.navlist{
    display: flex;
    width: 100%;
    font-size: 20px;
    list-style-type: none;
    overflow-x: auto;
}

.navlist > li {
    width: 200px;
    height: 50px;
    display: grid;
    place-content: center;
}

.navlist li a {
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    border-top-color: #00cc33;
    border-top-style: solid;
    border-top-width: 0;
}


.navlist li a:after {
    content: '';
    display: block;
    position: relative;
    margin: 2px auto 0 auto;
    width: 5px;
    border-bottom: 3px solid #00cc33;
    transition: width 300ms ease-out;
}


.navlist li a:hover:after {
    -webkit-text-stroke-width: 1px;
    width: 100%;
    border-radius: 5px;
    -webkit-text-stroke-color: #24d24f;
} 

@media screen and (max-width: 1239px) {

    .navbar {
        width: 1000px;
    }
}

@media screen and (max-width: 1039px) {
    .navbar {
        width: 800px;
    }
}

@media screen and (max-width: 839px) {
    .navbar {
        width: 600px;
    }
}

@media screen and (max-width: 639px) {
    .navbar {
        width: 400px;
    }
}

@media screen and (max-width: 439px) {
    .navbar {
        width: 200px;
    }

    #navbar {
        padding: 0;
    }
}