#resume {
    position: fixed;
    bottom: 50px;
    left: 20px;
    z-index: 10;
    text-align: center;
}

#resume > a {
    text-decoration: none;
    color: black;
    
}

#resume > a > img {
    width: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    #resume > a > img {
        width: 40px;
    }
    
}