#skills {
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    background: #000;
    align-items: center;
    overflow: hidden;
}

.skills-container, .skill-rem-small {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px dotted #fff;
    border-radius: 50%;
    /* animation: animate_00 20s linear infinite; */
    transform: scale(0.9);
    z-index: 1;
    /* overflow: hidden; */
}

.skill-rem-small {
    display: none;
}

.skills-icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imgBx {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow: 0 0 0 4px #222, 0 0 0 6px #fff;
    transform: rotate(calc(360deg/7 * var(--i)));
    transform-origin: 340px;
    z-index: 1;
    overflow: hidden;
    /* filter: saturate(1); */
    animation: animate_00 20s linear infinite;
}

.imgBx:hover, .imgBxs:hover {
    /* filter: saturate(0.3); */
    box-shadow: 0 0 0 4px #222, 0 0 0 12px #24d24f;
}

.imgBx > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    transform: rotate(calc(-90deg/7 * var(--i)));
    transition: 0.5s;
    background-color: #dedede;
    cursor: pointer;
}


.skills-lines {
    position: absolute;
    inset: 0em;
    overflow: hidden;
}

.skills-lines::before {
    content: '';
    position: absolute;
    inset: 80px;
    border: 4px solid transparent;
    border-left: 4px solid #2196f3;
    border-right: 4px solid #24d24f;
    border-radius: 50%;
    animation: animate_01 5s linear infinite;
    /* z-index: 1; */
    pointer-events: none;
}

.skills-lines::after {
    content: '';
    position: absolute;
    inset: 160px;
    border: 4px solid transparent;
    border-right: 4px solid #ee583a;
    border-left: 4px solid #efea41;
    border-radius: 50%;
    animation: animate_02 5s linear infinite;
    /* z-index: 1; */
    pointer-events: none;
}

@keyframes animate_00 {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes animate_01 {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes animate_02 {
    0% {
        rotate: 360deg;
    }
    100% {
        rotate: 0deg;
    }
}

.skills-header {
    position: absolute;
    color: white;
    inset: 160px;
    overflow: hidden;
}


.skills-header > .skills-title {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0.01em 0.1em 0em #24d24f, 0.01em 0em 0em #24d24f;
}

.skills-title:hover {
    text-shadow: 0.01em 0.01em 0em #24d24f, 0.01em -0.1em 0em #24d24f;
}

.skill-rem-right {
    position: absolute;
    width: 600px;
    height: 600px;
    right: -300px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: scale(0.9);
    z-index: 1;
    /* overflow: hidden; */
    /* background-color: #2196f3; */
    rotate: -130deg;
}

.skill-rem-left {
    position: absolute;
    width: 600px;
    height: 600px;
    left: -300px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: scale(0.9);
    z-index: 1;
    /* overflow: hidden; */
    /* background-color: #2196f3; */
    rotate: -130deg;
}

.rem-icons {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imgBxs {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow: 0 0 0 4px #222, 0 0 0 6px #fff;
    transform: rotate(calc(360deg/7 * var(--j)));
    transform-origin: 340px;
    z-index: 1;
    overflow: hidden;
    animation: animate_000 20s linear infinite;
}

.imgBxs > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    transform: rotate(calc(-90deg/7 * var(--j)));
    transition: 0.5s;
    background-color: #dedede;
    cursor: pointer;
}

@keyframes animate_000 {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@media screen and (max-width: 1300px) {
    .skills-container {
        transform: scale(0.7);
    }
    
    .skill-rem-left, .skill-rem-right {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1100px) {
    .skills-container {
        transform: scale(0.6);
    }
    
    .skill-rem-left, .skill-rem-right {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 900px) {
    .skills-container {
        transform: scale(0.5);
    }
    
    .skill-rem-left, .skill-rem-right {
        transform: scale(0.4);
    }
}

@media screen and (max-width: 700px) {
    
    .skills-container {
        transform: scale(0.45);
    }
    
    .skill-rem-left, .skill-rem-right{
        transform: scale(0.4);
    }
}

@media screen and (max-width: 600px) {
    #skills {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .skills-header {
        overflow: visible;
    }

    .skills-header>.skills-title {
        width: 100%;
        margin-top: 0px;
        position: absolute;
        font-size: 4rem;
    }

    .skill-rem-small {
        display: block;
    }

    .skills-container, .skill-rem-small {
        transform: scale(0.4);
        height: 300px;
    }

    .skill-rem-left, .skill-rem-right {
        display: none;
    }

    .skills-lines::before {
        inset: 120px;
    }

    .skills-lines::after {
        inset: 120px;
    }
}