.blink {
    animation: 1.5s linear infinite blink_animation;
}

@keyframes blink_animation {
    0%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}